.calendarHeader, .calendarBody {
    display: grid;
    grid-template-columns: 80px repeat(5, 1fr); 
}

.calendarBody {    
    border-bottom: 1px solid #ddd;
}

.calendarHeaderTime {
    text-align: center;
}

.calendarHeaderDay {
    text-align: center;
    font-weight: bold;
}

.timeColumn {
    text-align: right;
}

.timeLabel {
    height: 50px;
    border-top: 1px solid #ddd;
    padding-right: 10px;
    position: relative;
}

.timeLabel::after {
    content: "";
    position: absolute;
    right: 0;               
    top: 15%;               
    height: 70%;            
    width: 1px;             
    background-color: #d7d7d7;
}

.sectionGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(16, 50px);
    grid-column: span 5;
    position: relative;
    background-image: linear-gradient(#ddd 1px, transparent 1px);
    background-size: 100% 50px;
}

.sectionBlock {
    border: 1px;
    border-radius: 4px;
    background-color: rgba(255, 93, 93, 0.467);
    margin: 1px;
    padding-left: 10px;
    padding-top: 5px;
    line-height: 1.3;
    font-size: 15px;
    cursor: pointer;
}

.sectionBlock:hover {
    background-color: #fbb7;
}